/* 
    Document   : index
    Created on : Feb 11, 2013, 8:55:52 PM
    Author     : Adem
    Description:
        Purpose of the stylesheet follows.
*/

.ui-datagrid-content{
    border:none;
}

.ui-datagrid-column{
    border:none;
    padding: 1px;
    margin: 0px;
}
