/* 
    Document   : index
    Created on : Feb 11, 2013, 8:55:52 PM
    Author     : Adem
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{ 
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.6em; 
    font-family: Tahoma,Geneva,Kalimati,sans-serif;
    background-color: #FFF;
}

a, a:link, a:visited { color: #9CF; font-weight: normal; text-decoration: none }
a:hover { color: #FF6; text-decoration: none; }

.ui-layout-pane-north.ui-widget-content{
 border: 0;
}

.panelGridBorder tr, .panelGridBorder td {
    border: none;
}

img {  
    border-style: none;
}

.ui-panelgrid tr, .ui-panelgrid td{
    border:0 !important;
}   

.ui-panelgrid tr {
    background-color: inherit;
}