/* 
    Document   : temp
    Created on : Mar 11, 2013, 11:55:36 PM
    Author     : Adem
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.ui-datatable * {
    border : 0px !important;
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    text-align: left;
}

.ui-datatable-resizable {
    padding-bottom: 1px;
}
.ui-datatable table tbody {
    overflow: auto;
}

.ui-datalist-content{
    border:none;
}

.ui-datatable.dataTable th {
    background: #FFFFFF;
    background-image: none;
}

.ui-datatable.dataTable tr {
    background-image: none;
}

.ui-datatable.dataTable th {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
}

.ui-datatable-scrollable-header{
    background: none repeat scroll 0 0 #FFFFFF;
}

.ui-datatable-scrollable-header-box {
    background: #FFFFFF;
}
